body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
h1
{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #3D8361;
}
.title{
  color: #3D8361;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  text-align: left;
}
p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}
.top-container{
  background-color: #CDF0EA;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  padding: 100px 0;
}
.bottom-container{
  color: #11999E;
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.b-cloud{
  position: absolute;
  left: 200px;
  bottom: 300px;
}
.t-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}
a{
  color: black;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: white;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.intro{
  width: 30%;
  margin: auto;
}
.frontend{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.backend{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.goals{
  width: 20%;
  margin: 30px auto 30px auto;
}
ul.g{
  margin: auto 25px;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
  text-decoration: none;
}
.copyright{
  color: white;
  font-size: 0.75rem;
}
